* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,rgb(95, 76, 143),rgb(92, 184, 212));
}

.box {
    display: flex;
    justify-content: center;
}

.button,
.main {
    height: 60px;
    width: 160px;
    text-align: center;
    line-height: 60px;
    transition: 0.3s;
    cursor: pointer;
    background-color: #50536e;
}

.main::before {
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: translate(30px, -30px);
    background-image: url(images/许嵩.jpeg);
    background-size: cover;
    border: solid 10px white;
}

.information {
    width: 220px;
    background-color: chocolate;
    transform: translate(-20px, -200px);
    border-radius: 10px;
    padding: 20px 0;
    line-height: 0;
    height: 0;
    transition: 0.3s;
    opacity: 0;
}

.button:hover {
    background-color: chocolate;
}

.button li:hover {
    background-color: rgb(233, 139, 71);
}

.button ul li {
    height: 0;
    transition: 0.2s;
    opacity: 0;
    transform: translateY(-1.0156rem);
    background-color: #e07a5f;
}

.button:hover li {
    height: 60px;
    opacity: 1;
    transform: translateY(0);
}
.main:hover .information{
    opacity: 1;
    line-height: 50px;
    transform: translate(-20px,-10px);
    height: auto;
}